<h1>Show Item availability</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.item_availability_path(@conn, :edit, @item_availability) %></span> |
<span><%= link "Back", to: Routes.item_availability_path(@conn, :index) %></span>
